body{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    justify-items: center;
    text-align: center;
}

h4,
h3,
h2,
p,
h1 {
    color: rgb(73, 73, 73);

}